.App {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
}

.container{
  background-color: antiquewhite;
 
  width: 30vw;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
